* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: consolas;
}
body {
  color: white;
  background-image: url("https://media.discordapp.net/attachments/816755257936969748/819629673038348288/congruent_outline.png");
}
#buttons {
  display: flex;
  justify-content: space-between !important;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0e0d18bb;
  z-index: 10;
  backdrop-filter: blur(10px);
}
.nav-link {
  color: rgb(248, 248, 248);
}
.nav-link:hover {
  text-shadow: 0px 0px 2px;
}
#cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}
video {
  width: 1200px !important;
}
a {
  position: relative;
  padding: 20px 50px;
  width: 200px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
a span {
  position: relative;
  z-index: 1;
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 8px;
}
a .liquid {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #4973ff;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
a:hover .liquid {
  top: -120px;
}
a .liquid::before,
a .liquid::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
a .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 0.541);
  animation: animate 5s linear infinite;
}
a .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 1);
  animation: animate 10s linear infinite;
}
a .liquid2 {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #a56c2b;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
a:hover .liquid2 {
  top: -120px;
}
a .liquid2::before,
a .liquid2::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
a .liquid2::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 0.541);
  animation: animate 5s linear infinite;
}
a .liquid2::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 1);
  animation: animate 10s linear infinite;
}
a .liquid3 {
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
  background: #8d0d3e;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}
a:hover .liquid3 {
  top: -120px;
}
a .liquid3::before,
a .liquid3::after {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
}
a .liquid3::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 0.541);
  animation: animate 5s linear infinite;
}
a .liquid3::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, 1);
  animation: animate 10s linear infinite;
}
@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
}

button {
  border-radius: 40px;
  border: none;
  width: 1200px;
}
#apple-button {
  text-decoration: none;
  text-align: center;
  line-height: 60px;
  color: #fff;
  font-size: 24px;
  color: #fff;

  text-transform: uppercase;
  box-sizing: border-box;
  background: linear-gradient(
    90deg,
    #08070d,
    #151316,
    #414288,
    #fb4d3d,
    #e40066,
    #2d5099,
    #3a5795,
    #324dbd,
    #700c0a
  );
  background-size: 400%;
}
#apple-button:hover {
  color: whitesmoke;
  text-decoration: none;
  animation: animate2 8s linear infinite;
}
@keyframes animate2 {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}
#apple-button:before {
  content: "";

  z-index: -1;
  background: linear-gradient(
    90deg,
    #08070d,
    #151316,
    #414288,
    #fb4d3d,
    #e40066,
    #2d5099,
    #3a5795,
    #324dbd,
    #700c0a
  );
  background-size: 400%;
  border-radius: 40px;
  filter: blur(20px);
  opacity: 0;
  transition: 0.5s;
}
#apple-button:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate2 8s linear infinite;
}
#apple-button:hover {
  color: whitesmoke;
  text-decoration: none;
  animation: animate2 8s linear infinite;
}
@keyframes animate2 {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
